
.containerss {
  /* background-color: var(--bg-color, #FFFFFF); Default to white */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container{
    min-height: 100vh;
}